
@{
    ViewData["Title"] = "Photo Management - Shoot not started";
}
@model dynamic

@section Scripts {
    <script src="~/js/photoshootListing.js" asp-append-version="true"></script>
}

<div class="row">
    <div class="col-md-8 col-sm-12">
        <h4 class="">Photo Management - Shoot not started <!-- (5 styles) --></h4>
    </div>
</div>

<div class="table-responsive pt-5">
    <table id="openphotoshot" class="table table-bordered datatable_js_ps" style="width:100%">
        <thead>
            <tr>
                <th style="width:50px;"> </th>
                <th style="width:90px;">
                    <div class="dropdown">
                        <a class="th-dropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item select_menu" href="#" onclick="selectAllCheckbox()">Select All</a>
                            <a class="dropdown-item unselect_menu" href="#" onclick="unselectAllCheckbox()">Unselect All</a>
                            <a class="dropdown-item" href="#" onclick="moveSelectedToPhotoshoot()">Move selected to photoshoot</a>
                        </div>
                    </div>
                </th>
                <th>Vendor</th>
                <th>Style Name</th>
                <th>Color</th>
                <th>SKU</th>
                <th>Item Status</th>
                <th> Photoshoot Status </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductPhotoshootRep photoshoot in Model.Lists)
            {

                <tr style="" id="tableRow_@photoshoot.product_id">
                    <td class="text-center">
                        <input type="checkbox" name="productAddToShoot" value="@photoshoot.product_id" class="select-box">
                    </td>
                    <td><img style="width:85px;" src="@photoshoot.product_vendor_image"></td>
                    <td>@photoshoot.vendor_name</td>
                    <td class="productName">@photoshoot.product_name</td>
                    <td><b>@photoshoot.color</b></td>
                    <td><b>@photoshoot.sku_family</b></td>
                    <td>@photoshoot.po_status</td>
                    <td id="shootRow_@photoshoot.product_id">
                        
                        <select class="browser-default custom-select" onchange="AddToShootSingle(@photoshoot.product_id, this.value)">
                            <option value="0" selected>Shoot not started</option>
                            <option value="1">Add to photoshoot</option>
                        </select>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<!-- Modal PS -->
<div class="modal fade" id="modalAddNewPhotoshoot" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Add to photoshoot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="_modal_loader" style="width:100%;height: 100%;position:absolute;background: rgba(0,0,0,0.8);left: 0px;top: 0px;bottom: 0px;z-index: 999; display:none;">
                        <div class="spinner-border text-light" role="status" style="margin-top: 20%; margin-left: 48%;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <form>
                        <input type="hidden" id="AddToPhotoshootProductId" value="" />
                        <div class="form-row">
                            <div> Select which photoshoot to add to:</div>
                            <div class="form-group col-md-12 allPhotoshootList">

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <input type="button" class="btn btn-primary" value="Add" onclick="AddToExistingPhotoshoot()">
                                <span class="error existingShootError text-danger d-none"> Select any Photoshoot please.</span>
                            </div>
                        </div>
                        <div> Or, create a new photoshoot:</div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <select class="custom-select" id="AllModels">
                                    
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <input id="photoshootDate" name="photoshootDate" value="" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="button" class="btn btn-primary" value="Add" onclick="AddToNewPhotoshoot()">
                                <span class="error newShootError text-danger d-none"> Select any Photoshoot Model and date please.</span>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaladdmodel">
                                    Add a Model
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Modal Add Model -->
<div class="modal fade" id="modaladdmodel" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="">Add a new Model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form id="NewModelForm">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Full Name</label>
                                <input type="text" class="form-control" id="model_name">
                            </div>
                            <div class="form-group col-md-2">
                                <label>Height</label>
                                <input type="text" class="form-control" id="model_height">
                            </div>
                            <div class="form-group col-md-2">
                                <label>Hair</label>
                                <input type="text" class="form-control" id="model_hair">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Ethnicity</label>
                                <input type="text" class="form-control" id="model_ethnicity">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addNewPhotoshootModel();" style="margin: 0 auto;">Submit</button>
            </div>
        </div>
    </div>
</div>
