
@{
    ViewData["Title"] = "Sent to editor Photoshoots";
}
@model List<GenericModals.Models.ProductPhotoshootRep>
@section Scripts {
    <script src="~/js/photoshootListing.js" asp-append-version="true"></script>
    }
 
<div class="row">
    <div class="col-md-8 col-sm-12">
        <h4 class="">Sent to editor</h4>
    </div>
</div>

<div class="table-responsive pt-5">
    <table id="openphotoshot" class="table table-bordered datatable_js_ps" style="width:100%">
        <thead>
            <tr>
                <th style="width:50px;"> </th>
                <th style="width:90px;">
                    <div class="dropdown">
                        <a class="th-dropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                             <a class="dropdown-item select_menu" href="#" onclick="selectAllCheckbox(this)">Select All</a>
                            <a class="dropdown-item unselect_menu" href="#" onclick="unselectAllCheckbox(this)">Unselect All</a>
                            <a class="dropdown-item" href="#" onclick="updateMultipleProductStatusOnSentToEditor('0')">Mark selected as "Shoot not started"</a>
                        </div>
                    </div>
                </th>
                <th>Vendor</th>
                <th>Style Name</th>
                <th>Color</th>
                <th>SKU</th>
                <th>Item Status</th>
                <th> Photoshoot Status </th>
            </tr>
        </thead>
        <tbody>
           @foreach (var photoshoot in Model)
            {

                <tr style="">
                    <td class="text-center">
                        <input type="checkbox" name="productAddToShootNotStarted" value="@photoshoot.product_id" class="select-box">
                    </td>
                    <td><img style="width:85px;" src="@photoshoot.product_vendor_image"></td>
                    <td>@photoshoot.vendor_name</td>
                    <td>@photoshoot.product_name</td>
                    <td><b>@photoshoot.color</b></td>
                    <td><b>@photoshoot.sku_family</b></td>
                    <td>@photoshoot.po_status</td>
                    <td id="shootRow_@photoshoot.product_id">
                        <select class="browser-default custom-select" onchange="changeShootStatusOnSendToEditor(@photoshoot.product_id, this.value)">
                            <option value="0">Shoot not started</option>
                            <option value="2" selected>Sent to editor</option>
                        </select>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="loading-box">
    <div class="inner-loading"><div class="spinner-border  text-light" role="status" style=" "><span class="sr-only">Loading...</span></div></div>
</div>
