@{
    ViewData["Title"] = "Purchase Orders";
}

@model dynamic
@section Scripts {
    <link rel="stylesheet" type="text/css" href="~/css/daterangepicker.css" />
    <script src="~/js/daterangepicker.min.js" asp-append-version="true"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/vendorListingPage.js" asp-append-version="true"></script>
    <script src="~/js/purchaseOrdersListingPage.js" asp-append-version="true"></script>
    <script src="~/js/checkin.js" asp-append-version="true"></script>
    <script src="~/js/addstylepopup.js" asp-append-version="true"></script>
}
<div class="row">
    <div class="col-md-3 col-sm-12">
        <h4 class="text-info">Open Purchase Orders (<span class="total_purchase_order_count">@Model.PurchaseOrdersCount</span>)</h4>
    </div>
    <div class="col-md-9">
        <button type="button" class="btn btn-success btn-sm model_purchase_order" data-toggle="modal" data-target="#modalPurchaseOrder">
            Add New P.O.
        </button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newVendorModal" id="AddNewVendorButton">
            Add New Vendor
        </button>
    </div>
</div>
<div class="table-responsive pt-5">
    <table id="purchaseorderlists" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>P.O. Number</th>
                <th>Order Date</th>
                <th>Vendor</th>
                <th>Styles</th>
                <th>Photos</th>
                <th>Remaining</th>
                <th>Shipment Window</th>
                <th>Last Change</th>
                <th>Status</th>
                <th>Check-in</th>
                <th>Edit P.O.</th>
                <th>Note</th>
                <th>Upload</th>
                <th>Inspect</th>
                <th>Go Live</th>
            </tr>
        </thead>
        <tbody>
            @foreach (GenericModals.PurchaseOrder.PurchaseOrdersInfo purchaseOrders in Model.PurchaseOrdersLists)
            {
                string pinkbgclass = "";
                @if (@purchaseOrders.ra_flag == 1)
                {
                    pinkbgclass = " class=pinkbgclass ";
                }

                <tr @pinkbgclass>
                    <td>@purchaseOrders.vendor_po_number</td>
                    <td>
                        @if (purchaseOrders.custom_order_date != "1/1/1970")
                        {
                            @purchaseOrders.custom_order_date
                        }
                    </td>
                    <td>@purchaseOrders.vendor</td>
                    <td>@purchaseOrders.total_styles</td>
                    <td>@purchaseOrders.photos</td>
                    <td>@purchaseOrders.remaining</td>
                    @if (purchaseOrders.check_days_range == false && @purchaseOrders.po_status == 5 && purchaseOrders.custom_delivery_window_start_end != "1/1-1/1/1970")
                    {
                        <td class="text-danger font-weight-bold removeRed-@purchaseOrders.po_id">
                            @if (purchaseOrders.custom_delivery_window_start_end != "1/1-1/1/1970")
                            {
                                @purchaseOrders.custom_delivery_window_start_end
                            }
                        </td>
                        <td class="text-danger font-weight-bold removeRed-@purchaseOrders.po_id"><span class="days-@purchaseOrders.po_id">@purchaseOrders.num_of_days</span></td>
                        <td class="text-danger font-weight-bold removeRed-@purchaseOrders.po_id"><a class="text-danger font-weight-bold" target="_blank" href="/PurchaseOrders/PurchaseOrdersCheckIn/Single/@purchaseOrders.po_id"><span class="postatus-@purchaseOrders.po_id">Not Recieved</span></a></td>
                    }
                    else
                    {
                        <td>
                            @if (purchaseOrders.custom_delivery_window_start_end != "1/1-1/1/1970")
                            {
                                @purchaseOrders.custom_delivery_window_start_end
                            }
                        </td>
                        <td><span class="days-@purchaseOrders.po_id">@purchaseOrders.num_of_days</span></td>
                        <td>
                            <a target="_blank" href="/PurchaseOrders/PurchaseOrdersCheckIn/Single/@purchaseOrders.po_id">
                                @if (@purchaseOrders.po_status == 1)
                                {
                                    <span class="postatus-@purchaseOrders.po_id">Open</span>
                                }
                                @if (@purchaseOrders.po_status == 3)
                                {
                                    <span class="postatus-@purchaseOrders.po_id">In Progress</span>
                                }
                                @if (@purchaseOrders.po_status == 5)
                                {
                                    <span class="postatus-@purchaseOrders.po_id">Not Recieved</span>
                                }
                                @if (@purchaseOrders.po_status == 6)
                                {
                                    <span class="postatus-@purchaseOrders.po_id">Recieved</span>
                                }
                            </a>

                        </td>
                    }
                    <td>
                        @if (@purchaseOrders.po_status == 5)
                        {
                            <button type="button" class="btn btn-warning btn-sm checked-@purchaseOrders.po_id" data-shipping="@purchaseOrders.shipping" data-ID="@purchaseOrders.po_id" id="EditPurhaseOrderCheckedIn">Checkin</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-success btn-sm">Checked-In</button>
                        }

                    </td>
                    <td>
                        <button type="button" id="EditPurhaseOrder" data-ID="@purchaseOrders.po_id" class="btn btn-light btn-sm">Edit</button>
                    </td>
                    <td>
                        <a href="javascript:void(0)" style="position:relative" data-ID="@purchaseOrders.po_id" id="EditPurhaseOrderNote">
                            @if (purchaseOrders.has_note == 1)
                            {<div class="redDotNote redDOtElement"></div>}
                            else
                            { <div class="redDotNote"></div>}<i class="fa fa-edit h3"></i>
                    </a>
                </td>
                <td>
                    <a href="javascript:void(0)" style="position:relative" data-ID="@purchaseOrders.po_id" id="EditPurhaseOrderDocument">
                        @if (purchaseOrders.has_doc == 1)
                        {<div class="redDotDoc redDOtElement"></div>}
                        else
                        { <div class="redDotDoc"></div>}<i class="fa fa-upload h3"></i>
                    </a>
                </td>
                <td>
                    <a href="javascript:void(0)">Claim</a>
                </td>
                <td>
                    <a href="javascript:void(0)">Claim</a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <th>P.O. Number</th>
                <th>Order Date</th>
                <th>Vendor</th>
                <th>Styles</th>
                <th>Photos</th>
                <th>Remaining</th>
                <th>Shipment Window</th>
                <th>Last Change</th>
                <th>Status</th>
                <th>Check-in</th>
                <th>Edit P.O.</th>
                <th>Note</th>
                <th>Upload</th>
                <th>Inspect</th>
                <th>Go Live</th>
            </tr>
        </tfoot>
    </table>

</div>


@section page_popup_area{

    <!-- Modal PO -->
    <div class="modal fade" id="modalPurchaseOrder" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="msg"></div>
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="purchaseOrderModalLongTitle">Add New Purchase Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="newPurchaseOrderForm" data-currentid="" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <span class="auto_loader" style="display:none"><img src="~/images/ajax-loader.gif" width="30px" height="30px"/></span>
                                    <label>Vendor Name</label>
                                    <input type="text" class="form-control required d-inline-block autocomplete" id="poVendor" style="width: 90%">
                                    <a href="#" id="addVendorFromPO" class="h4" data-toggle="modal" data-target="#newVendorModal">+</a>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Order Delivery Range</label>
                                    <input type="text" class="form-control" id="poDelieveryRange">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>P.O. Number</label>
                                    <input type="hidden" id="po_status" style="display:none;">
                                    <input type="hidden" id="photos" style="display:none;">
                                    <input type="hidden" id="remaining" style="display:none;">
                                    <input type="text" class="form-control required" id="poNumber">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Total Styles</label>
                                    <input type="text" class="form-control" id="poTotalStyles">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Invoice Number</label>
                                    <input type="text" class="form-control" id="poInvoiceNumber">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Total Quantity</label>
                                    <input type="text" class="form-control" id="poTotalQuantity">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Order Number</label>
                                    <input type="text" class="form-control" id="poOrderNumber">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Subtotal</label>
                                    <input type="text" class="form-control" id="poSubtotal">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Order Date</label>
                                    <input type="text" class="form-control" id="poOrderDate">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Shipping &amp; Handling</label>
                                    <input type="text" class="form-control" id="poShipping">
                                </div>
                            </div>
                            <div class="form-row po_section d-none">
                                <div class="form-group col-md-6">
                                    <label>Tracking #</label>
                                    <input type="text" class="form-control d-inline-block poTracking" name="poTracking[]" style="width: 90%">
                                    <a href="#" class="h4 add_tracking">+</a>

                                    <div id="wrapper_tracking"></div>

                                </div>
                                <div class="col-md-6 text-right">
                                    <br />
                                    <a href="#" data-toggle="modal" data-target="#modaladdinvoice" id="add_invoice_adjustment">Add Invoice Adjustment</a>
                                    <br />
                                    <a href="#" data-toggle="modal" data-target="#modaladddiscount" id="add_discount">Add Discount %</a>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Upload Images</label>
                                    <input type="file" class="form-control" id="poUploadImage" name="poUploadImage" multiple>

                                    <div class="po_doc_section d-none"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Purchase Order Notes</label>
                                    <textarea class="form-control" id="poNotes"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="poAlertMsg"></div>
                    <button type="button" class="btn btn-warning po_section d-none" id="poDelete" style="margin: 0 auto; background-color: #f35d47 !important;">Delete</button>
                    <button type="button" class="btn btn-primary" id="NewPurchaseOrderButton">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Vendor -->
    <div class="modal fade" id="newVendorModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="vendorModalLongTitle">Add a New Vendor Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{ Html.RenderPartial("~/Views/Shared/AddVendor.cshtml"); }
                </div>
                <div class="modal-footer">
                    <div class="vendorAlertMsg"></div>
                    <button type="button" class="btn btn-primary" id="NewVendorButton">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Add Invoice -->
    <div class="modal fade" id="modaladdinvoice" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ledgerModalLongTitle">Add an Invoice Adjustment <span id="invoice_ponumber"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="ledger_form" data-adjustment="">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Adjustment</label>
                                    <select id="ledger_adjustment" name="ledger_adjustment" class="form-control required">
                                        <option selected>Choose...</option>
                                        <option value="credit">Credit</option>
                                        <option value="debit">Debit</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Amount</label>
                                    <input type="text" class="form-control required" id="ledger_amount" name="ledger_amount" placeholder="$">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Note</label>
                                    <input type="text" class="form-control required" id="ledger_note" name="ledger_note">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="ledger_submit" style="margin: 0 auto;">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Add Discount -->
    <div class="modal fade" id="modaladddiscount" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="discountModalLongTitle">Add Discount % <span id="discount_ponumber"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="discount_form" data-discount="">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Discount</label>
                                    <input type="text" class="form-control required" id="discount_percentage" name="discount" placeholder="%">
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Note</label>
                                    <input type="text" class="form-control required" id="discount_note" name="discount_note">
                                </div>
                            </div>
                            <div class="text-center w-100">
                                <span class="text-danger"><b>IMPORTANT:</b> </span>Your unit costs should be inputted with discounts already applied to them.
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="discount_submit" style="margin: 0 auto;">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Check-in -->
    @{ Html.RenderPartial("~/Views/Shared/model_checkin.cshtml"); }

    <!-- Modal Add Style Item Clothing -->
    @{ Html.RenderPartial("~/Views/Shared/AddStyle.cshtml"); }

    <!-- Modal Add Note -->
    <div class="modal fade" id="modaladdnote" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noteModalLongTitle">Notes Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="note_form" data-noteid="">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Note</label>
                                    <textarea type="text" class="form-control" id="po_notes" name="po_notes"></textarea>
                                    <div class="poNoteAlertMsg"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="note_submit" style="margin: 0 auto;">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Add Document -->
    <div class="modal fade" id="modaladddocument" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="documentModalLongTitle">Documents Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="document_form" data-documentid="">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Document</label>
                                    <input type="file" class="form-control" id="poUploadImages" name="poUploadImages" multiple>
                                    <div class="poDocAlertMsg"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="document_submit" style="margin: 0 auto;">Submit</button>
                </div>

                <div class="po_doc_section d-none" style="padding: 10px;"></div>

            </div>
        </div>
    </div>
}
