
@{
    ViewData["Title"] = "Purchase Orders";
}

@model dynamic
@section Scripts {
    <script src="~/js/purchaseOrdersListingPage.js" asp-append-version="true"></script>
}

<div class="row">
    <div class="col-md-3 col-sm-12">
        <h2 class="text-info">Open Purchase Orders (@Model.PurchaseOrdersCount)</h2>
    </div>
    <div class="col-md-9">
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalPurchaseOrder">
            Add New P.O.
        </button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalvendor">
            Add New Vendor
        </button>
    </div>
</div>
<table id="openpo" class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>P.O. Number</th>
            <th>Order Date</th>
            <th>Vendor</th>
            <th>Styles</th>
            <th>Photos</th>
            <th>Remaining</th>
            <th>Shipment Window</th>
            <th>Last Change</th>
            <th>Status</th>
            <th>Check-in</th>
            <th>Edit P.O.</th>
            <th></th>
            <th></th>
            <th>Inspect</th>
            <th>Go Live</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PurchaseOrdersInfo purchaseOrders in Model.PurchaseOrdersLists)
        {
            <tr>
                <!-- td>@purchaseOrders.po_id</!--td>
                <td>@purchaseOrders.vendor_invoice_number</td>
                <td>@purchaseOrders.vendor_order_number</td-->

                <td>@purchaseOrders.vendor_po_number</td>
                <td>
                    @purchaseOrders.custom_order_date
                </td>
                <td>@purchaseOrders.vendor</td>
                <td>6</td>
                <td>5</td>
                <td>3</td>
                <td>3/7-3/21/2018</td>
                <td>@purchaseOrders.num_of_days</td>
                <td>@purchaseOrders.po_status</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm">Checked-in</button>
                </td>
                <td>
                    <button type="button" class="btn btn-light btn-sm">Edit</button>
                </td>
                <td>
                    <a href="#"><i class="fa fa-edit h3"></i></a>
                </td>
                <td>
                    <a href="#"><i class="fa fa-upload h3"></i></a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
                <td>
                    <a href="#">Claim</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>P.O. Number</th>
            <th>Order Date</th>
            <th>Vendor</th>
            <th>Styles</th>
            <th>Photos</th>
            <th>Remaining</th>
            <th>Shipment Window</th>
            <th>Last Change</th>
            <th>Status</th>
            <th>Check-in</th>
            <th>Edit P.O.</th>
            <th></th>
            <th></th>
            <th>Inspect</th>
            <th>Go Live</th>
        </tr>
    </tfoot>
</table>


@section purchase_order_popup
    {
    <!-- Modal PO -->
    <div class="modal fade" id="modalPurchaseOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Purchase Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="newPurchaseOrderForm">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Vendor Name</label>
                                  <select id="inputState" class="form-control d-inline-block" style="width: 90%">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                    <a href="#" class="h4" data-toggle="modal" data-target="#modalvendor">+</a>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Order Delivery Range</label>
                                    <input type="text" class="form-control" id="poDelieveryRange">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>P.O. Number</label>
                                    <input type="text" class="form-control" id="poNumber">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Total Styles</label>
                                    <input type="text" class="form-control" id="poTotalStyles">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Invoice Number</label>
                                    <input type="text" class="form-control" id="poInvoiceNumber">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Total Quantity</label>
                                    <input type="text" class="form-control" id="poTotalQuantity">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Order Number</label>
                                    <input type="text" class="form-control" id="poOrderNumber">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Subtotal</label>
                                    <input type="text" class="form-control" id="poSubtotal">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Order Date</label>
                                    <input type="text" class="form-control" id="poOrderDate">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Shipping &amp; Handling</label>
                                    <input type="text" class="form-control" id="poShipping">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Tracking #</label>
                                    <input type="text" class="form-control d-inline-block" id="poTracking" style="width: 90%">
                                    <a href="#" class="h4">+</a>
                                </div>
                                <div class="col-md-6 text-right">
                                    <br />
                                    <a href="#" data-toggle="modal" data-target="#modaladdinvoice">Add Invoice Adjustment</a>
                                    <br />
                                    <a href="#" data-toggle="modal" data-target="#modaladddiscount">Add Discount %</a>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Upload Images</label>
                                    <input type="file" class="form-control" id="poUploadImage">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Purchase Order Notes</label>
                                    <textarea class="form-control" id="poNotes"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="poDelete" style="margin: 0 auto; background-color: #f35d47 !important;">Delete this P.O.</button>
                    <button type="button" class="btn btn-primary" id="NewPurchaseOrderButton">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}