@{
    ViewData["Title"] = "PurchaseOrdersCheckIn";
}

@model dynamic
@section Scripts {
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/POManagementPage.js" asp-append-version="true"></script>
    <script src="~/js/checkin.js" asp-append-version="true"></script>
}

@section page_popup_area{

    <!-- Modal Add Style Item Clothing check-->
    @{ Html.RenderPartial("~/Views/Shared/AddStyle.cshtml"); }


    <!-- Modal Add Style Item Accessories -->
    <div class="modal fade" id="modaladdstylea" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Style Item to P.O. &lt;number&gt;</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Link to existing product</label>
                                    <select id="inputState" class="form-control">
                                        <option selected value="">Choose...</option>
                                        <option> ... </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Style Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Color Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Unit Cost</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Retail</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Type</label>
                                    <select id="inputState" class="form-control">
                                        <option selected value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Subtype</label>
                                    <select id="inputState" class="form-control">
                                        <option selected value="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8 pt-4">
                                    <div class="input_fields_wrap pb-2">
                                        <div class="pb-2">
                                            <input type="text" class="form-control d-inline w-25" name="csize[1]" placeholder="Size">
                                            <input type="text" class="form-control d-inline w-25" name="csku[1]" placeholder="SKU">
                                            <input type="text" class="form-control d-inline w-25" name="cqty[1]" placeholder="Qty">
                                        </div>
                                    </div>
                                    <a class="add_field_button text-primary" style="cursor: pointer; margin-top: -15px; display: table;">Add Another</a>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label>Vendor Notes</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                                <div class="form-group col-md-4 text-center">
                                    <button type="button" class="btn btn-success btn-sm">Add another style</button><br />
                                    <button type="button" class="btn btn-primary btn-sm mt-2">Add and view P.O.</button><br />
                                    <button type="button" class="btn btn-light btn-sm mt-2">Add and check-in</button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label>Upload Files</label>
                                    <input type="file" class="form-control" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" style="margin: 0 auto; background-color: #f35d47 !important;">Delete from P.O.</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Add Document -->
    <div class="modal fade" id="modaladddocument" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="documentModalLongTitle">Documents Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="document_form" data-documentid="">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Document</label>
                                    <input type="file" class="form-control" id="poUploadImages" name="poUploadImages">
                                    <div class="poDocAlertMsg"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="document_submit" style="margin: 0 auto;">Submit</button>
                </div>

                <div class="po_doc_section d-none" style="padding: 10px;"></div>

            </div>
        </div>
    </div>

    <!-- Modal Add Weight -->
    <div class="modal fade" id="modaladdweight" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <a href="#" class="text-right pt-2 pr-3" data-dismiss="modal" style="cursor:pointer;">X</a>
                <!--div class="modal-header">
                    <h5 class="modal-title" id="weightModalLongTitle">Weight Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div -->
                <div class="modal-body">
                    <div class="container">
                        <form id="weight_form">
                            <div class="form-row">
                                <div class="form-group col-md-3 text-center">
                                    <img src="https://cdn.shopify.com/s/files/1/1952/2795/products/a-bit-of-something-sweet-top-free-people-fashionpass-front.jpg?v=1522084555" width="75" height="75" class="weight_image" />
                                    <strong class="weight_sku"> BL118</strong>
                                </div>
                                <div class="form-group col-md-9 pt-3 pl-4">
                                    <div class="pl-2">
                                        <strong style="font-size: 17px;"> Please enter an weights:</strong>
                                        <p class="pl-2">pounds.ounces (ex 1.12)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="margin-top:-40px;">
                                <div class="form-group col-md-3 pl-5"></div>
                                <div class="form-group col-md-2 text-center x d-none sku_weight_field">
                                    <strong>X</strong>
                                    <input type="text" class="form-control" id="x_weight" name="x_weight">
                                </div>
                                <div class="form-group col-md-2 text-center xs d-none sku_weight_field">
                                    <strong>XS</strong>
                                    <input type="text" class="form-control" id="xs_weight" name="xs_weight">
                                </div>
                                <div class="form-group col-md-2 text-center s d-none sku_weight_field">
                                    <strong>S</strong>
                                    <input type="text" class="form-control" id="s_weight" name="s_weight">
                                </div>
                                <div class="form-group col-md-2 text-center m d-none sku_weight_field">
                                    <strong>M</strong>
                                    <input type="text" class="form-control" id="m_weight" name="m_weight">
                                </div>
                                <div class="form-group col-md-2 text-center l d-none sku_weight_field">
                                    <strong>L</strong>
                                    <input type="text" class="form-control" id="l_weight" name="l_weight">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="weight_submit" style="margin: 0 auto;">Submit</button>
                </div>

                <div class="po_weight_section d-none" style="padding: 10px;"></div>

            </div>
        </div>
    </div>


}

<div class="">


    @foreach (GenericModals.Models.PurchaseOrdersInfo purchaseOrder in Model.POList)
    {
        <div class="accordion" id="accordionpocheck-@purchaseOrder.po_id">
            <div class="card POListCheckIn">
                <div class="card-header" id="heading_@purchaseOrder.po_id" data-POid="@purchaseOrder.po_id">
                    <div class="row">
                        <a class="card-box collapsButton" data-POid="@purchaseOrder.po_id" data-toggle="collapse" data-target="#collapse_@purchaseOrder.po_id" style="cursor: pointer;"><i class="fa fa-plus"></i></a>

                        <div class="col-md-3 col-sm-10  col-xs-10">
                            <h5>Purchase Order #: <a href="#">@purchaseOrder.vendor_po_number</a></h5>
                            <h5>Vendor Name: <a href="#">@purchaseOrder.vendor</a></h5>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <a class="btn btn-light btn-sm" href="/PurchaseOrders/Single/@purchaseOrder.po_id" target="_blank">
                                Edit Original PO
                            </a>
                            <button type="button" id="AddItemButton" data-poid="@purchaseOrder.po_id" data-ponumber="@purchaseOrder.vendor_po_number" data-vendorid="@purchaseOrder.vendor_id" class="btn btn-light btn-sm">Add an item</button>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" style="white-space: nowrap">
                            <span class="text-center d-inline-block">
                                <b>Inspect</b><br /><a href="#">Claim</a>
                            </span>
                            <span class="text-center d-inline-block pl-4">
                                <b>Go Live</b><br /><a href="#">Claim</a>
                            </span>
                            <span class="d-inline-block pl-4 align-top pt-2">
                                <b> @purchaseOrder.total_styles total styles  <!-- , 5 have photos, 3 are live--></b>
                            </span>
                        </div>
                        <input type="hidden" id="allBarcodeRanges" value="@ViewBag.allBarcodeRanges" />
                        @*<div class="col-md-2 col-sm-12 col-xs-12 text-right">
                                <form action="">
                                    <input type="text" placeholder="Quick Find" name="search" class="pl-1 pr-1">
                                    <button type="submit" class=""><i class="fa fa-search"></i></button>
                                </form>
                            </div>*@
                    </div>
                </div>

                <div id="collapse_@purchaseOrder.po_id" class="collapse" aria-labelledby="heading_@purchaseOrder.po_id" data-parent="#accordionpocheck-@purchaseOrder.po_id">

                </div>

            </div>
        </div>
    }


</div>