
@{
    ViewData["Title"] = "P.O. Check-in";
}
@model dynamic
@*<table class="table">
        <tr>
            <td>
                <h5>Purchase Order #: <a href="#">35671</a></h5>
                <h5>Vendor Name: <a href="#">Blue Life</a></h5>
            </td>
            <td class="align-middle">
                <button type="button" class="btn btn-light btn-sm">Edit Original P.O.</button>
                <button type="button" class="btn btn-light btn-sm">Add an item</button>
            </td>
            </td>
            <td class="align-middle">
                <span class="text-center d-inline-block">
                    <b>Inspect</b><br /><a href="#">Claim</a>
                </span>
                <span class="text-center d-inline-block pl-4">
                    <b>Go Live</b><br /><a href="#">Claim</a>
                </span>
                <span class="d-inline-block pl-4 align-top pt-2">
                    <b>6 total styles, 5 have photos</b>
                </span>
            </td>
            <td class="align-middle text-right">
                <form action="">
                    <input type="text" placeholder="Quick Find" name="search" class="pl-1 pr-1">
                    <button type="submit" class=""><i class="fa fa-search"></i></button>
                </form>
            </td>
        </tr>
    </table>*@
@{ int First = 0;}
@foreach (PurchaseOrdersInfo purchaseOrder in Model.POList)
{
    <table class="table outerboddy">
        <tr>
            <td>
                <h5>Purchase Order #: <a href="#">@purchaseOrder.vendor_po_number</a></h5>
                <h5>Vendor Name: <a href="#">@purchaseOrder.vendor</a></h5>
            </td>
            <td class="align-middle">
                <button type="button" class="btn btn-light btn-sm">Add an item</button>
            </td>
            <td class="align-middle text-right">
                <form action="">
                    <input type="text" placeholder="Quick Find" name="search" class="pl-1 pr-1">
                    <button type="submit" class=""><i class="fa fa-search"></i></button>
                </form>
            </td>
        </tr>
    </table>


    @if (First == 0)
    {

        Boolean outputEnd = false;
        First = 1;
        String Current_product = "";
        <div class="accordion" id="accordionpomgmt">
            @foreach (dynamic LineItem in Model.FirstPOInfor.LineItemDetails)
            {
                @if (Current_product != (String)LineItem.product_id)
                {
                Current_product = (String)LineItem.product_id;
                outputEnd = true;
                if (First == 2)
                {
                    @:</tbody>
                    @:</table>
                    @:</div>
                    @:</div>
                    @:</div>
                }
                if(First == 1)
                {
                    First = 2;
                }
                @:<div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus"></i> <span class="text-dark font-weight-bold h5">@LineItem.product_name (@LineItem.vendor_color_name) in @LineItem.Color (@LineItem.sku)</span></button>
                            <a href="#" class="h5 text-primary">Edit Attribute</a>
                        </h2>
                    </div>
                    @:<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionpomgmt">
                        @:<div class="card-body table-responsive">
                            @:<table class="table text-center borderless" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Status</th>
                                        <th>Notes</th>
                                        <th>Image</th>
                                        <th>Weight</th>
                                        <th>SKU</th>
                                        <th>Barcode</th>
                                        <th>Publish</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                @:<tbody>
                                }


                int i = 0;
                int DisplayTimes = 0;
                DisplayTimes = (int)LineItem.Quantity;


                @while (i < DisplayTimes)
                {
                    i++;


                    <tr>

                        <td>@LineItem.Size</td>
                        <td>
                            <select class="form-control">
                                <option selected>Choose...</option>
                                <option>...</option>
                            </select>
                        </td>
                        <td>
                            <textarea class="form-control" cols="50"></textarea>
                        </td>
                        <td>
                            <a href="#"><i class="fa fa-upload h3"></i></a>
                        </td>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                        <td>
                            <input type="text" class="form-control" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="@LineItem.EndItems[i-1].barcode"/>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success btn-sm">Publish</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm">Remove</button>
                        </td>
                    </tr>
                }
            }
            @if (outputEnd)
            {
            @:</tbody>
        @:</table>
    @:</div>
@:</div>
@:</div>
}


            </div>
        }

}