
@{
    ViewData["Title"] = "Barcode Range";
}

@model dynamic
@section Scripts {
    <script src="~/lib/bootstrap/dist/js/bootstrap-tagsinput.js"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/Barcode.js" asp-append-version="true"></script>
}
<div class="row">
    <div class="col-md-2 col-sm-12">
        <h4 class="text-info">Barcode Range</h4>
    </div>
    <div class="col-md-10">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" id="AddNewBarcodeButton" data-target="#newBarcodeModal">
            Add New Barcode Range
        </button>
    </div>
</div>
<div class="table-responsive pt-5">
    <table id="vendorListingArea" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Size</th>
                <th>Barcode From:</th>
                <th>Barcode To:</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (GenericModals.Models.Barcode barcode in Model)
            {
                <tr>
                    <td class="vendorName">@barcode.size</td>
                    <td>@barcode.barcode_from</td>
                    <td>@barcode.barcode_to</td>
                    <td>
                        <button type="button" id="EditBarcode" data-ID="@barcode.id" data-Size="@barcode.size" data-from="@barcode.barcode_from" data-to="@barcode.barcode_to" class="btn btn-light btn-sm">Edit</button>
                    
                        <button type="button" id="deleteBarcode" data-ID="@barcode.id" class="btn btn-light btn-sm">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Size</th>
                <th>Barcode From:</th>
                <th>Barcode To:</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="loaderBox"><div class="spinner-border text-info"></div></div>
<div class="text-right w-100">

</div>
<div id="productDetailPage">
    <br />

</div>

@section page_popup_area{

    <div class="modal fade" id="modalAddBarcode" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Range</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form id="AddBarcodeForm">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Size</label>
                                    <input name="Size" id="Size" type="text" class="form-control required">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Barcode from</label>
                                    <input name="BarcodeFrom" id="BarcodeFrom" type="text" class="form-control required" >
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Barcode to</label>
                                    <input name="BarcodeTo" id="BarcodeTo" type="text" class="form-control required">
                                    <input name="barcodeid" id="barcodeid" type="hidden" class="form-control required">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="poAlertMsg"></div>
                    <button type="button" id="SaveBarcodeButton" class="btn btn-green SaveBarcodeButton" data-action="refreshValue">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

